<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="../../assets/images/personal.jpg"  alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello Everybody, i am</h6>
                            <h3>Donald McKinney</h3>
                            <h4>Junior UI/UX Developer</h4>
                            <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 1992</a></li>
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> businessplan@donald</a></li>
                                <li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 text-center">
                <h3 class="scissors text-center">Reviews</h3>
                <p class="mb-5 lead">Here are collected all the reviews about the works of the master</p>

                <p class="text-center">
                    <a href="#" class="btn btn-primary custom-prev">Prev</a>
                    <a href="#" class="btn btn-primary custom-next">Next</a>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <div class="nonloop-block-13 owl-carousel d-flex">

                    <div class="item-1 h">
                        <div class="item-1-contents">
                            <h3>Anvar</h3>
                            <ul>
                                <li class="d-flex"><span>Good job</span> <span class="price ml-auto">Good</span></li>
                            </ul>
                        </div>

                    </div>

                    <div class="item-1 h">
                        <div class="item-1-contents">
                            <h3>Arina</h3>
                            <ul>
                                <li class="d-flex"><span>Good job</span> <span class="price ml-auto">Good</span></li>
                            </ul>
                        </div>

                    </div>

                    <div class="item-1 h">
                        <div class="item-1-contents">
                            <h3>Dias</h3>
                            <ul>
                                <li class="d-flex"><span>Good Job</span> <span class="price ml-auto">Good</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

