<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex_1">
                        <img src="../../assets/images/avatar.png"  alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h3>Donald McKinney</h3>
                            <h4>Guest</h4>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> businessplan@donald</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <p class="text-lg-right">
                            <a href="#" class="btn btn-primary custom-prev">Edit profile</a>&nbsp;
                            <a href="#" class="btn btn-dark custom-next">Change Password</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="scissors text-center">History</h3>
                <p class="mb-5 lead">Here you can see the history of your recordings and sign up again</p>

                <p class="text-center">
                    <a href="#" class="btn btn-primary custom-prev">Enroll</a>
                </p>
            </div>
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100 ver1">
                            <div class="table100-firstcol">
                                <table>
                                    <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Data & Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">16 Nov 2012</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">16 Nov 2012</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">16 Nov 2012</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="wrap-table100-nextcols js-pscroll">
                                <div class="table100-nextcols">
                                    <table>
                                        <thead>
                                        <tr class="row100 head">
                                            <th class="cell100 column2">Full Name</th>
                                            <th class="cell100 column3">Master</th>
                                            <th class="cell100 column4">Service</th>
                                            <th class="cell100 column5">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="row100 body">
                                            <td class="cell100 column2">Ahmad</td>
                                            <td class="cell100 column3">Dicosha</td>
                                            <td class="cell100 column4">Strizhka</td>
                                            <td class="cell100 column5">5000$</td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Ahmad</td>
                                            <td class="cell100 column3">Dicosha</td>
                                            <td class="cell100 column4">Strizhka</td>
                                            <td class="cell100 column5">5000$</td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Ahmad</td>
                                            <td class="cell100 column3">Dicosha</td>
                                            <td class="cell100 column4">Strizhka</td>
                                            <td class="cell100 column5">5000$</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>