<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="../../assets/images/personal.jpg"  alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello, I am</h6>
                            <h3>{{masterName}}</h3>
                            <h4>Call me: &nbsp; {{masterPhone}}</h4>
                            <p>My Services:</p>
                            <ul class="list basic_info">
                                <li *ngFor="let item of masterServices"><a href="#">{{item}}</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 text-center">
                <h3 class="scissors text-center">Reviews</h3>
                <p class="mb-5 lead">Here are collected all the reviews about the works of the master</p>

                <p class="text-center">
                    <a href="#" class="btn btn-primary custom-prev">Prev &nbsp;</a>
                    <a href="#" class="btn btn-primary custom-next">Next</a>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <div class="nonloop-block-13 owl-carousel d-flex">

                    <div class="item-1 h" *ngFor="let item of masterComments">
                        <div class="item-1-contents">
                            <h3>{{item.author_name}}</h3>
                            <ul>
                                <li class="d-flex"><span>{{item.content}}</span></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

