<section class="home_banner_area" xmlns="http://www.w3.org/1999/html">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="../../assets/images/personal.jpg"  alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello, I am</h6>
                            <h3>{{masterName}}</h3>
                            <h4>Call me: &nbsp; {{masterPhone}}</h4>
                            <p>My Services:</p>
                            <ul class="list basic_info">
                                <li *ngFor="let item of masterServices"><a href="#">{{item}}</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 text-center">
                <h3 class="scissors text-center">Reviews</h3>
                <p class="mb-5 lead">Here are collected all the reviews about the works of the master</p>

                <p class="text-center">
                    <a href="#" class="btn btn-primary custom-prev">Prev</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-primary custom-next">Next</a>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <div class="nonloop-block-13 owl-carousel d-flex">

                    <div class="item-1 h" *ngFor="let item of masterComments">
                        <div class="item-1-contents">
                            <h3>{{item.author_name}}</h3>
                            <ul>
                                <li class="d-flex"><span>{{item.content}}</span></li>
                            </ul>
                            <small style="color: #A6A6A6;">{{item.date}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Button trigger modal -->
        <button style="margin: auto; display: block;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="this.isAuthorized">
            Leave Comment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Leave Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addComment()">
                            <textarea type="text" class="form-control" placeholder="..." id="content"></textarea>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Save Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
