<div class="admin">
    <section>
        <br><br><br><br><h1>Admin page</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Block/Unblock User</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr *ngFor="let user of usersList">
                <th scope="row">{{user.num}}</th>
                <td>{{user.user_name}}</td>
                <td>{{user.user_email}}</td>
                <td>{{user.user_phone}}</td>
                <td>
                    <button *ngIf="!user.user_isBlocked" (click)="blockUser(user.user_id)" class="btn btn-outline-dark">Block</button>
                    <button *ngIf="user.user_isBlocked" (click)="unblockUser(user.user_id)" class="btn btn-outline-success">Unblock</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="service-div">
        <br><h1>Services</h1>
        <button type="button" class="btn btn-primary btn-lg btn-block btn-light " (click)="emptyModel()" data-toggle="modal" data-target="#AddService">
            Add Service
        </button>
        <div>&nbsp;</div>
        <!-- Modal -->
        <div class="modal fade" id="AddService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Service</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addService()">
                            <div class="form-group">
                                <label for="name">Service Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Service Name" [(ngModel)]="model.name"
                                       #name="ngModel"
                                       [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                                       required
                                />
                                <div *ngIf="f.submitted && name.invalid">
                                    <div *ngIf="name.errors?.required" class="inv-feedback">Field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="email" name="description"  class="form-control"  placeholder="Description" [(ngModel)]="model.description"
                                />
                            </div>

                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" name="price" class="form-control" placeholder="Price" [(ngModel)]="model.price"
                                       #price="ngModel"
                                       required />
                                <div *ngIf="f.submitted && price.invalid">
                                    <div *ngIf="price.errors?.required" class="inv-feedback">Field is required</div>
                                </div>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" class="btn btn-danger" value="Add Service" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="EditService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Service</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form name="form" #f="ngForm"  (ngSubmit)="f.form.valid && editService()">
                            <div class="form-group">
                                <input type="hidden" [(ngModel)]="model.id">
                                <label for="name">Service Name</label>
                                <input type="text" name="name" class="form-control"  id="name" placeholder="Service Name" [(ngModel)]="model.name"
                                       #name="ngModel"
                                       [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                                       required
                                />
                                <div *ngIf="f.submitted && name.invalid">
                                    <div *ngIf="name.errors?.required" class="inv-feedback">Field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="email" name="description"  class="form-control" id="description"  placeholder="Description" [(ngModel)]="model.description"
                                />
                            </div>

                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" name="price" id="price"  class="form-control" placeholder="Price" [(ngModel)]="model.price"
                                       #price="ngModel"
                                       required />
                                <div *ngIf="f.submitted && price.invalid">
                                    <div *ngIf="price.errors?.required" class="inv-feedback">Field is required</div>
                                </div>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" class="btn btn-danger" value="Edit Service"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr *ngFor="let service of serviceList">
                    <th scope="row">{{service.num}}</th>
                    <td>{{service.service_name}}</td>
                    <td>{{service.service_description}}</td>
                    <td>{{service.service_price}}</td>
                    <td>
                        <button (click)="showEditService(service.service_id)" type="button" data-toggle="modal" class="btn btn-outline-success" data-target="#EditService">Edit</button>
                    </td>
                    <td>
                        <button (click)="deleteService(service.service_id)" class="btn btn-outline-dark">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </section>


<div class="made-with-love">

</div>

</div>