<div class="reserve"><br><br>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="img-years">
                        <img src="../../assets/images/barber_res.jpg" alt="Image" class="img-fluid">
                    </div>

                </div>
                <div class="col-lg-5 ml-auto pl-lg-5 text-center">
                    <h3 class="scissors text-center">Registration for a service</h3>
                    <p class="mb-5 lead">Here we can sign up for a service, pre-selecting the time, wizard and service</p>



                    <h2>Time</h2><div>&nbsp;</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active btn-danger">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> 12:00
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off"> 13:00
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option3" autocomplete="off"> 14:00
                        </label>
                    </div>
                    <div>&nbsp;</div>
                    <h2>Master</h2><div>&nbsp;</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active btn-danger">
                            <input type="radio" name="options" id="option4" autocomplete="off" checked> Ahmed
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option5" autocomplete="off"> Magamed
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option6" autocomplete="off"> Dikosha
                        </label>
                    </div>
                    <div>&nbsp;</div>
                    <h2>Service</h2><div>&nbsp;</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active btn-danger">
                            <input type="radio" name="options" id="option7" autocomplete="off" checked> Strijka 20$
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option8" autocomplete="off"> Strijka 20$
                        </label>
                        <label class="btn btn-secondary btn-danger">
                            <input type="radio" name="options" id="option9" autocomplete="off"> Strijka 20$
                        </label>
                    </div>
                    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>

                      <h4>Total amount: 20$</h4><div>&nbsp;  </div>
                        <p><a href="#" class="btn btn-primary btn-lg btn-block">Registration</a></p>
                    </div>
            </div>
        </div>
    </div>
    <br><br>

</div>